* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #000;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  p {
    color: black;
    font-family:"Poppins", sans-serif ;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background: #563434;
  }
  
  .header {
    background: black;
  }
  
  
  .header .row {
    margin-top: 70px;
  }

  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    width: 320px;}
  
  
  .col-4 img {
    width: 100%;
  }
  
  .section-fluid-main{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .section{
    position: relative;
    max-width: calc(100% - 40px);
    width: 860px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0;
  }
  .section-fluid{
    position: relative;
    width: 100%;
    display: block;
  }

  [type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  visibility: hidden;
}
.color-btn:checked + label,
.color-btn:not(:checked) + label{
  position: relative;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 40px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  color: #ffeba7;
  margin-right: 10px;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  z-index: 10;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
}

.color-btn:checked + label{
    border-color: #434343;
    transform: scale(1.1);
  }
  label.first-color{
    margin-left: 500px;
    background:white;
  }
  label.color-2{
    background:black;
  }
  label.color-3{
    background:blue;
  }
  label.color-4{
    background:rgba(255, 196, 0, 0.959);
  }
  label.color-5{
    background:rgb(177, 35, 177);
  }
  label.color-6{
    background:red;
  }

.img-wrap{
    position: absolute;
    top: 100px;
    left: 0;
    width: 500px;
    height: 500px;
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('conversewhite.png');
    opacity: 0;
}

.for-color-1:checked ~ .img-wrap.chair-1{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }
  .img-wrap.chair-2{
    background-image: url('converseblack.png');
  }
  .for-color-2:checked ~ .img-wrap.chair-2{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }
  .img-wrap.chair-3{
    background-image: url('converseblue.png');
  }
  .for-color-3:checked ~ .img-wrap.chair-3{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }
  .img-wrap.chair-4{
    background-image: url('converseyellow.png');
  }
  .for-color-4:checked ~ .img-wrap.chair-4{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }
  .img-wrap.chair-5{
    background-image: url('conversepurple.png');
  }
  .for-color-5:checked ~ .img-wrap.chair-5{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }
  .img-wrap.chair-6{
    background-image: url('conversered.png');
  }
  .for-color-6:checked ~ .img-wrap.chair-6{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0) rotate(-1deg);
    }  
    20%, 80% {
      transform: translate3d(2px, 0, 0) rotate(2deg);
    }
    30%, 50%, 70% {
      transform: translate3d(-3px, 0, 0) rotate(-3deg);
    }
    40%, 60% {
      transform: translate3d(3px, 0, 0) rotate(3deg);
    }
  }
  
  .back-color {
    position:relative; /*fixed*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    background-image: linear-gradient(196deg,#bda8a8,#ffffff);
    transition: all 250ms linear;
    transition-delay: 300ms;
  }

  .back-color.chair-2 {
    background-image: linear-gradient(196deg,#4c4c4c,#262626);
    opacity: 0;
  }
  .for-color-2:checked ~ .back-color.chair-2{
    opacity: 1;
  }
  .back-color.chair-3 {
    background-image: linear-gradient(196deg,#8a9fb2,#5f7991);
    opacity: 0;
  }
  .for-color-3:checked ~ .back-color.chair-3{
    opacity: 1;
  }
  .back-color.chair-4 {
    background-image: linear-gradient(196deg,#fbba20,#eb772a);
    opacity: 0;
  }
  .for-color-4:checked ~ .back-color.chair-4{
    opacity: 1;
  }
  .back-color.chair-5 {
    background-image: linear-gradient(196deg,#e04bcd,#5f2c5f);
    opacity: 0;
  }
  .for-color-5:checked ~ .back-color.chair-5{
    opacity: 1;
  }
  .back-color.chair-6 {
    background-image: linear-gradient(196deg,#a76b73,#c32d2d);
    opacity: 0;
  }
  .for-color-6:checked ~ .back-color.chair-6{
    opacity: 1;
  }

  .info-wrap{
    position: relative;
    margin-left: 500px;
    z-index: 10;
    display: block;
    text-align: left;
  }
  .title-up {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
  }


  h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: black;
    margin-top: 0;
    margin-bottom: 30px;
  }
  h4 span{
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.6;
    padding-left: 15px;
  }
  h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
  }

.section-inline p{
    color: black;
}

  .desc-btn:checked + label,
.desc-btn:not(:checked) + label{
  position: relative;
  transition: all 200ms linear;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: black;
  margin-right: 25px;
  opacity: 0.5;
}
.desc-btn:checked + label{
  opacity: 1;
}
.desc-btn:not(:checked) + label:hover {
  opacity: 0.8;
}

.desc-sec {
  padding-top: 20px;
  padding-bottom: 30px;
  transition: all 250ms linear;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
}
.desc-sec.accor-2 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 2;
}
#desc-1:checked ~ .desc-sec.accor-1 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-2:checked ~ .desc-sec.accor-2 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-inline{
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.section-inline p span{
  font-size: 30px;
  line-height: 1.1;
}

.btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    height: 48px;
    border-radius: 4px;
    width: 210px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    color: white;
    box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
    transition: all 250ms linear;
    text-decoration: none;
    margin-top: 50px;
  }
  .icon {
    padding-right: 7px;
    font-size: 20px;
  }
  .btn:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-color: #944852;
    transition: background-color 250ms 300ms ease;
  }
  .btn:hover{
    box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
    background-color: #000;
  }
  .for-color-2:checked ~ .info-wrap .btn:before{
    background-color: #1a1a1a;
  }
  .for-color-3:checked ~ .info-wrap .btn:before{
    background-color: #40566e;
  }
  .for-color-4:checked ~ .info-wrap .btn:before{
    background-color: #d84c0b;
  }
  .for-color-5:checked ~ .info-wrap .btn:before{
    background-color: #78149c;
  }
  .for-color-6:checked ~ .info-wrap .btn:before{
    background-color: #d11d1d;
  }
  
  .clearfix {
    width: 100%;
  }
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  .ri-shopping-bag-line::before{
      margin-right:15px;
      width:20px;
      height:20px;
  }

  

  @media screen and (max-width: 991px) {
    .section{
      margin: 0 auto;
      text-align: center;
      max-width: calc(100% - 40px);
      width: 370px;
    }
    label.first-color{
      margin-left: 0;
    }
    .info-wrap{
      margin-left: 0;
      width: 370px;
      margin: 0 auto;
      text-align: center;
    }
    .img-wrap{
      width: 375px;
      height: 400px;
      left: 50%;
      margin-left: -190px;
    }
    .mob-margin {
      margin-top: 320px;
    }
    .desc-btn:checked + label,
    .desc-btn:not(:checked) + label{
      margin-right: 15px;
      margin-left: 15px;
    }
    .color-btn:checked + label,
    .color-btn:not(:checked) + label{
      height: 40px;
      width: 40px;
      margin: 5px auto;
      text-align: center;
    }
    .section-inline{
      margin: 0 5px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .section{
      width: 280px;
    }
    .info-wrap{
      width: 280px;
    }
    .color-btn:checked + label,
    .color-btn:not(:checked) + label{
      height: 30px;
      width: 30px;
    }
    .section-inline p span{
      font-size: 24px;
      line-height: 1.1;
    }
    .section-inline p{
      font-size: 14px;
    }
  }
  /* Offer */
  
  .offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
  .col-2 .offer-img {
    padding: 50px;
  }
  
  small {
    color: #555;
  }
  
  /* testimonial */
  
  .testimonial {
    padding-top: 100px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa-quote-left {
    font-size: 34px;
    color: #ff523b;
  }
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .brands {
    margin: 100px auto;
  }
  
  .col-5 {
    width: 160px;
  }
  
  .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    width: 100%;
    cursor: pointer;
    filter: grayscale(0);
  }
  
  
  /* footer */
  
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  
  .ri-facebook-box-line{
      color:blue;
  }
  
  .ri-twitter-line{
    color:rgb(72, 72, 172);
  }
  
  .ri-instagram-line{
      color:coral;
  }
  
  .ri-youtube-line{
      color: red;
    }
  
    
  /* media query for menu */
  
  @media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
  
  /* all products page */
  
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid #ff523b;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .page-btn {
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .page-btn span:hover {
    background: #ff523b;
    color: #ffffff;
  }
  
  /* single product details */
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
  }
  
  input:focus {
    outline: none;
  }
  
  .single-product .fas {
    color: #ff523b;
    margin-left: 10px;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  /* cart items */
  
  .cart-page {
    margin: 90px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background: #ff523b;
    font-weight: normal;
  }
  td {
    padding: 10px 5px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td a {
    color: #ff523b;
    font-size: 12px;
  }
  
  td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  /* account page */
  .account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  #RegForm {
    left: 0;
  }
  
  form a {
    font-size: 12px;
  }
  
  #Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  /* media query for less than 600 screen size */
  
  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
  }
  